// Paginators
//
// Paginators have a lot of pieces, check the markup for a full view.
//
// Markup: paginators.html
//
// Styleguide Components.paginators

.paginator {
    &__range {
        font-size: $body-font-size;
        margin-right: $baseline-unit;
    }

    &__list {
        display: inline-block;
        padding-left: 0;
    }

    &__item {
        margin: 0;
        display: inline-block;
        min-width: $baseline-unit;
        text-align: center;
        font-size: $body-font-size;
        
        &:before { content: none; }
    }
    
    &__link {
        display: inline-block;
        padding: 0 0.7rem;
        min-width: $baseline-unit;
        color: $primary-color;
        text-decoration: none;
        border-radius: 0.7rem;
        box-sizing: border-box;
        text-align: center;
        transition: 0.25s ease;
        
        &--active,
        &:hover {
            color: $background-color;
            background-color: $primary-color;
        }
    }
}
