<div class="paginator">
    <span class="paginator__range">Showing 21 - 30 of 420</span>
    <ol class="paginator__list">
        <li class="paginator__item">
            <a class="paginator__link" href="#" title="Previous page">
                <span class="icon icon--left-open"></span>
            </a>
        </li>
        <li class="paginator__item">
            <a class="paginator__link" href="#" aria-label="Page 1 of 42">1</a>
        </li>
        <li class="paginator__item">&hellip;</li>
        <li class="paginator__item"><a class="paginator__link" href="#" aria-label="Page 20 of 42">20</a></li>
        <li class="paginator__item">
            <a class="paginator__link  paginator__link--active" href="#" aria-label="Page 21 of 42">21</a>
        </li>
        <li class="paginator__item"><a class="paginator__link" href="#" aria-label="Page 22 of 42">22</a></li>
        <li class="paginator__item">&hellip;</li>
        <li class="paginator__item"><a class="paginator__link" href="#" aria-label="Page 42 of 42">42</a></li>
        <li class="paginator__item">
            <a class="paginator__link" href="#" title="Next page">
                <span class="icon icon--right-open"></span>
            </a>
        </li>
    </ol>
</div>