// ------------------------------------------------------------------------------
//   Variables - Colors, Fonts, etc.
// ------------------------------------------------------------------------------
$kss-colors-background    : #fff;

$kss-colors-foreground    : #444;
$kss-colors-heading       : #111;
$kss-colors-quotes        : #666;

$kss-colors-link          : #0645ad;

$kss-font-code            : Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;
$kss-font-size            : 16px;
$kss-vertical-rhythm      : $kss-font-size * 1.5;

// ------------------------------------------------------------------------------
// Wrap all of this builder's base HTML styling inside a .kss-style selector.
// ------------------------------------------------------------------------------

.kss-style {
  blockquote {
    color: $kss-colors-quotes;
    margin: 0;
    padding-left: $kss-vertical-rhythm;
    border-left: 0.5em mix($kss-colors-quotes, $kss-colors-background, 25%) solid;
  }

  hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid lighten($kss-colors-foreground, 60%);
    border-bottom: 1px solid darken($kss-colors-background, 10%);
    margin: $kss-vertical-rhythm 0;
    padding: 0;
  }

  pre, code, kbd, samp {
    font-family: $kss-font-code;
    color: #015f4d;
    font-size: 1em;
  }

  pre {
    white-space: pre;
    overflow: scroll;
  }

  ins {
    color: $kss-colors-heading;
    background: #ff9;
    text-decoration: none;
  }

  mark {
    color: $kss-colors-heading;
    background: #ff0;
    font-weight: bold;
  }

  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sup { top: -0.5em;     }
  sub { bottom: -0.25em; }

  li p:last-child {
    margin: 0;
  }
  dd {
    margin: 0 0 0 $kss-vertical-rhythm;
  }

  img {
    max-width:100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  td {
    vertical-align: top;
  }

  @media print {
    a, a:visited { text-decoration: underline; }
    hr { height: 1px; border:0; border-bottom:1px solid black; }
    a[href]:after { content: " (" attr(href) ")"; }
    a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    pre, blockquote { border: 1px solid #999; padding-right: 1em; page-break-inside: avoid; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }
  }
}

// ------------------------------------------------------------------------------
// Sidebar-area components
// ------------------------------------------------------------------------------

.layout {
  .kss-nav__ref { margin-right: .5rem; }
  .kss-nav__ref-child { font-weight: normal; }
}

// ------------------------------------------------------------------------------
// Content-area components
// ------------------------------------------------------------------------------

.layout {
  .kss-title__ref {
    display: block;
    font-size: $kss-font-size;
    line-height: $kss-font-size;
    color: #666;

    &:before {
      content: 'Section ';
    }
  }
  .kss-title__permalink {
    display: block;
    color: #000;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: $kss-colors-link;

      @media screen and (min-width: 607px) {
        .kss-title__permalink-hash {
          display: inline;
        }
      }
    }
  }
  .kss-title__permalink-hash {
    display: none;
    color: #ccc;
  }

  .kss-modifier__wrapper {
    padding: 0;
    border: none;
    margin-bottom: 2rem;
  }
  .kss-modifier__heading {
    margin: 0 0 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #dddada;
    font-weight: bold;
  }
  .kss-modifier__default-name {
    font-weight: bold;
    margin-bottom: ($kss-vertical-rhythm / 2);
  }
  .kss-modifier__name {
    float: left;
    padding-right: 10px;
    font-weight: bold;
  }
  .kss-modifier__description {
    margin-bottom: ($kss-vertical-rhythm / 2);
  }
  .kss-modifier__example {
    clear: left;
    border: 2px dashed transparent;
    position: relative; // Contain the example's absolute positioning.
    z-index: 0; // Establishes a local stacking context.
    margin: -2px -2px ($kss-vertical-rhythm - 2px);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .kss-modifier__example-footer {
    clear: both;
  }

  .kss-markup {
    margin: 1rem 0 0;
    border: 1px solid #ccc;

    &[open] summary {
      border-bottom: 1px solid #ccc;
      margin-bottom: 3px;
    }

    summary { padding-left: 10px; }
    pre {
      margin: 0;
      font-size: 1em;
      
      li { margin-bottom: 0; }
    }
  }

  // ------------------------------------------------------------------------------
  // prettify.js styles
  // ------------------------------------------------------------------------------

  /* SPAN elements with the classes below are added by prettyprint. */
  .pln { color: #000 }  /* plain text */

  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */

  /* Use higher contrast and text-weight for printable form. */
  @media print, projection {
    .str { color: #060 }
    .kwd { color: #006; font-weight: bold }
    .com { color: #600; font-style: italic }
    .typ { color: #404; font-weight: bold }
    .lit { color: #044 }
    .pun, .opn, .clo { color: #440 }
    .tag { color: #006; font-weight: bold }
    .atn { color: #404 }
    .atv { color: #060 }
  }

  /* Specify class=linenums on a pre to get line numbering */
  ol.linenums {
    margin: 0;
    padding: 0 0 3px 0;
    list-style-type: none;

    li {
      border-bottom: 1px solid #eee;
      padding: 0 10px;
      background: #fff;

      &:first-child { padding-top: 3px; }
      &::before { content: none; }
    }
    /* Alternate shading for lines */
    li.L0,
    li.L2,
    li.L4,
    li.L6,
    li.L8 {
      background: #fcfcfc;
    }
  }
}

// Unused element causing markup styling problems
.L0 > .pln { display: none; }

section[id^="kssref"] {
  margin-bottom: 2.5rem;
}

//////// EXAMPLE STYLES ////////

@import "../src/colors/colors";
@import "../src/typography/typography-vars";

$primaries:(
  primary: $primary-color,
  secondary: $secondary-color,
  success: $success-color,
  warning: $warning-color,
  info: $info-color,
  muted: $muted-color
);

$ancillaries: (
  border: $border-color,
  text: $text-color,
  background-color: $background-color
);

.styleguide {
  &__box {
    position: relative;
    box-sizing: border-box;
    min-height: $baseline-unit;
    line-height: $baseline-unit;
    margin: $baseline-increment 0;
    background: $primary-color;
    border-radius: 2px;
    text-align: center;
    padding: ($baseline-increment * 2) $baseline-increment;
    color: $background-color;
    
    &--lg { min-height: 4rem; }
    &--dark { background: rgba(0, 0, 0, 0.2); }
  }
    
  &__circle {
    width: 25rem;
    height: 25rem;
    margin: 0 auto $baseline-unit;
    color: $background-color;
    text-align: center;
    border-radius: 50%;
    
    &--dark-text { color: $text-color; }
    &-val { font-size: $baseline-increment * 6; }

    &-name {
      margin: 0;
      padding: 7.5rem 0 ($baseline-unit / 2);
      font-size: $baseline-increment * 7;
    }
  }
  
  @each $name, $color in $primaries {
    &--#{$name} { background-color: $color; }
  }
  
  @each $name, $color in $ancillaries {
    &--#{$name} {
      background-color: $color;
      border: 1px solid $primary-color;
    }
  }
}

/////// IGNORE THESE //////
#kssref-icons {
  .kss-modifier__default-name {
    display: none;
  
    & + .kss-modifier__example { display: none; }
  }
}