@import "icons-all";

// Icon Options
//
// Add some color or reverse your icons.
//
// .icon--color-primary - The primary color.
// .icon--color-success - Congrats, you're a success!
// .icon--color-danger - Danger Will Robinson, DANGER!!!!
// .icon--color-info - Dropping some pearls of wisdom.
// .icon--reverse - When you need a different perspective.
//
// Markup:
// <svg class="icon icon--xxl {{ modifier_class }}"><use xlink:href="#ei-image"></use></svg>
//
// Styleguide Icons.colors

// Spinners
//
// Check the markup dropdown for the spinner names.
// But feel free to spin any of the icons just by adding the handy dandy `.icon--spin` class.
//
// Markup:
// <svg class="icon icon--xxl icon--spin"><use xlink:href="#ei-spinner"></use></svg>
// <svg class="icon icon--xxl icon--spin"><use xlink:href="#ei-spinner-2"></use></svg>
// <svg class="icon icon--xxl icon--spin"><use xlink:href="#ei-spinner-3"></use></svg>
//
// Styleguide Icons.spinners

.icon {
    height: $ms-base;
    width: $ms-base;
    fill: currentColor;
    vertical-align: middle;

    &--reverse { transform: scaleX(-1); }

    &--color {
        &-primary { color: $primary-color; }
        &-success { color: $success-color; }
        &-danger { color: $warning-color; }
        &-info { color: $info-color; }
    }

    $sizes: md, lg, xl, xxl;

    @for $i from 2 through 5 {
        $size: $i * $ms-base;
        
        &--#{nth($sizes, ($i - 1))} {
            height: $size;
            width: $size;
        }
    }

    &--spin { animation: spin 1.35s linear infinite; }
}
