@import "icons-all";

// Icon Options
//
// Add some color or reverse your icons.
//
// .icon--color-primary - The primary color.
// .icon--color-success - Congrats, you're a success!
// .icon--color-danger - Danger Will Robinson, DANGER!!!!
// .icon--color-info - Dropping some pearls of wisdom.
// .icon--reverse - When you need a different perspective.
//
// Markup:
// <svg class="icon icon--xxl {{ modifier_class }}"><use xlink:href="#ei-image"></use></svg>
//
// Styleguide Icons.colors

// Spinners
//
// Check the markup dropdown for the spinner names.
// But feel free to spin any of the icons just by adding the handy dandy `.icon--spin` class.
//
// Markup:
// <svg class="icon icon--xxl icon--spin"><use xlink:href="#ei-spinner"></use></svg>
// <svg class="icon icon--xxl icon--spin"><use xlink:href="#ei-spinner-2"></use></svg>
// <svg class="icon icon--xxl icon--spin"><use xlink:href="#ei-spinner-3"></use></svg>
//
// Styleguide Icons.spinners

.icon {
    height: 1.1em;
    width: 1em;
    fill: currentColor;
    vertical-align: middle;
    margin-bottom: 2rem / 10;

    &--reverse { transform: scaleX(-1); }

    &--color {
        &-primary { color: $primary-color; }
        &-success { color: $success-color; }
        &-danger { color: $warning-color; }
        &-info { color: $info-color; }
    }

    $sizes: sm, md, lg, xl, xxl;

    @for $i from 1 through length($sizes) {
        $size: if($i == 1, 1.33em, #{$i}em);
        
        &--#{nth($sizes, $i)} {
            height: $size;
            width: $size;
        }
    }

    &--spin { animation: spin 1.35s linear infinite; }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
