////////// STYLEGUIDE ONLY /////////
.styleguide {
    &__box {
        &--lg { min-height: 4rem; }
        &--dark { background: rgba(0, 0, 0, 0.2); }

        position: relative;
        box-sizing: border-box;
        min-height: 2rem;
        line-height: 2rem;
        margin: 0.5rem 0;
        background: rgb(0, 131, 140);
        border-radius: 2px;
        overflow: hidden;
        text-align: center;
        padding: 1rem 0.5rem;
        color: rgb(255, 255, 255);
    }
}

// Hide empty default examples
.a, #a { display: none; }

// Remove bullet from kss mobile menu
.kss-nav__menu-item::before { content: ''; }

// Adjust kss markup example
.kss-markup.kss-style {
    margin-bottom: 0;

    pre {
        font-size: .8em;
        li { margin-bottom: 0; }
    }
}