// Tags
//
// .tag--primary - Primary tag.
// .tag--warning - Warning tag.
// .tag--go - Go do cool stuff tag.
//
// Markup: tags.html
//
// Styleguide Components.tags

.tag {
    padding: $baseline-increment ($baseline-unit / 2);
    margin: 0 $baseline-increment;
    background-color: $background-color;
    color: $secondary-color;
    text-align: center;
    border: 1px solid $secondary-color;
    border-radius: $baseline-unit;

    &__icon { margin-left: -$baseline-increment; }
    
    &__close {
        height: $baseline-unit;
        width: $baseline-unit;
        transform: translateX($baseline-increment);
        cursor: pointer;
    }

    @each $name, $color in $color-modifiers {
        &--#{$name} {
            color: $background-color;
            background-color: $color;
            border-color: $color;
        }
    }
}