// Alerts
//
// An alert looks like...
//
// ```
// <alert>                              - alert and alert--$color class
//      <svg>                           - icon, icon--md + alert__icon class class 
//          <use xlink:href>            - icon name
//      <text>                          - text read by the screen reader
//      <button>                        - has an alert__close alert--$color__close class
//          <svg>                       - has an icon and icon--md class 
//              <use xlink:href>        - close button icon name
//```
//
// But all you need to do is copy the accessible markup below, add some text and pick a color:
// <strong>warning</strong>, <strong>success</strong>, <strong>info</strong>.
//
// Markup: alerts.html
//
// Styleguide Components.alerts

.alert {
    @mixin get-color($color) {
        background-color: $color;
        color: darken($color, 48%);
        border-color: mix($color, $text-color, 75%);
    }

    @mixin get-close-hover($color) {
        &:hover {
            cursor: pointer;
            color: $color;
            background-color: $text-color;
        }
    }
    
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: $baseline-unit;
    padding: $baseline-unit ($baseline-unit * 2);
    font-size: 1.8rem;
    font-weight: $bold;
    color: $text-color;
    background-color: $background-color;
    line-height: $baseline-unit;
    border-radius: $border-radius;

    &--warning  { @include get-color($warning-color); }
    &--success  { @include get-color($success-color); }
    &--info     { @include get-color($info-color); }

    &__close {
        position: absolute;
        right: $baseline-unit;
        padding: 0;
        border: 1px solid;
        border-radius: $baseline-unit;
        text-align: center;
        transition: background 0.5s, color 0.5s;

        &--warning  {
            background-color: $warning-color;
            @include get-close-hover($warning-color);
        }

        &--success  {
            background-color: $success-color;
            @include get-close-hover($success-color);
        }

        &--info     {
            background-color: $info-color;
            @include get-close-hover($info-color);
        }

    }

    &__icon {
        position: absolute;
        left: 2 * $baseline-increment;
    }
}
