<div class="alert alert--warning shake-it">
    <span class="alert__icon">
        <svg class="icon icon--md"><use xlink:href="#ei-eye"></use></svg>
    </span>
    <span class="alert__close alert__close--warning">
        <svg class="icon icon--md"><use xlink:href="#ei-close"></use></svg>
    </span>
    <span>Danger Will Robinson, DANGER!</span>
</div>
<div class="alert alert--success">
    <span class="alert__icon">
        <svg class="icon icon--md"><use xlink:href="#ei-like"></use></svg>
    </span>
    <span class="alert__close alert__close--success">
        <svg class="icon icon--md"><use xlink:href="#ei-close"></use></svg>
    </span>
    <span>You did it!</span>
</div>
<div class="alert alert--info">
    <span class="alert__icon">
        <svg class="icon icon--md"><use xlink:href="#ei-exclamation"></use></svg>
    </span>
    <span class="alert__close alert__close--info">
        <svg class="icon icon--md"><use xlink:href="#ei-close"></use></svg>
    </span>
    <span>Leme tell you something...</span>
</div>

