<div class="alert alert--warning">
    <svg class="alert__icon icon icon--md" aria-hidden="true" focusable="false">
        <use xlink:href="#ei-eye"></use>
    </svg>
    <span tabindex="0" role="status" aria-live="polite">Danger Will Robinson, DANGER!</span>
    <button class="alert__close alert__close--warning">
        <svg class="icon icon--md">
            <use xlink:href="#ei-close"></use>
        </svg>
        <span class="visually-hidden">Close status</span>
    </button>
</div>
<div class="alert alert--success">
    <svg class="alert__icon icon icon--md" aria-hidden="true" focusable="false">
        <use xlink:href="#ei-like"></use>
    </svg>
    <span tabindex="0" role="status" aria-live="polite">You did it!</span>
    <button class="alert__close alert__close--success">
        <svg class="icon icon--md">
            <use xlink:href="#ei-close"></use>
        </svg>
        <span class="visually-hidden">Close status</span>
    </button>
</div>
<div class="alert alert--info">
    <svg class="alert__icon icon icon--md" aria-hidden="true" focusable="false">
        <use xlink:href="#ei-exclamation"></use>
    </svg>
    <span tabindex="0" role="status" aria-live="polite">Leme tell you something...</span>
    <button class="alert__close alert__close--info">
        <svg class="icon icon--md">
            <use xlink:href="#ei-close"></use>
        </svg>
        <span class="visually-hidden">Close status</span>
    </button>
</div>