// Buttons
//
// Try out the element's hover state!
//
// .button--primary  - Primary element.
// .button--warning  - Warning element.
// .button--go       - Go forth and prosper element.
// .button--light    - Use with dark backgrounds.
// .button--lg       - Large element.
//
// Markup: buttons.html
//
// Styleguide Components.button

.button {
    @mixin hover($color) {
        $hover-color: mix($color, $text-color, 75%);

        &:hover { background-color: $hover-color; }
    }

    display: inline-block;
    padding: ($baseline-increment) ($baseline-increment * 3);
    margin-bottom: $baseline-increment;
    color: $text-color;
    background-color: $muted-color;
    font-size: $body-font-size;
    font-weight: $bold;
    border-radius: $border-radius;
    line-height: $baseline-unit;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s linear background-color;

    @include hover($muted-color);

    &:active { transform: translateY(4px); }

    &:disabled {
        opacity: 0.55;
        cursor: not-allowed;
    }

    &--lg {
        padding: ($baseline-unit / 2) ($baseline-unit);
        font-size: map-get($headers, h5);
    }

    $color-modifiers: (
        primary: $primary-color,
        warning: $warning-color,
        go: $success-color
    );

    @each $name, $color in $color-modifiers {
        &--#{$name} {
            background-color: $color;
            color: $background-color;
            border-color: $color;
    
            @include hover($color);
            &:disabled { background-color: $color; }
        }
    }

    &--light {
        &,
        &:disabled,
        &:disabled:hover {
            background-color: $background-color;
            color: $secondary-color;
            border: 1px solid $secondary-color;
        }

        &:hover {
            color: $text-color;
            background-color: $muted-color;
        }
    }
}
