// Cards
//
// A card looks like...
//
// ```
// <card>
//      <header>
//      <body>
//      <footer>
// ```
//
// The header and footer are optional.
// Use the [grid](section-grid.html) to display multiple cards.
//
// Markup: cards.html
//
// Styleguide Components.cards

.card {
    $padding: (2 * $baseline-increment) $baseline-unit;
    $card-border: 1px solid $secondary-color;

    background-color: $primary-color;
    border: $card-border;
    border-radius: $border-radius;

    &__head {
        padding: $padding;
        font-size: map-get($headers, h5);
        font-weight: $bold;
        border-bottom: $card-border;
        color: $background-color;
    }

    &__body {
        background-color: $background-color;
        padding: $padding;
        color: $text-color;

        & >:last-child { margin-bottom: 0; }
    }

    &__foot {
        padding: $padding;
        border-top: $card-border;
        text-align: right;
    }
}
