<article class="card {{ modifier_class }}">
    <header class="card__head">I am the Doctor!</header>
    <div class="card__body">
        <p>Pure mathematics can not lie! Come on! Don't be lasagna.</p>
        <p>
            They're screwdrivers! What are you going to do?
            Assemble a cabinet at them? Let's go in!
        </p>
        <p>
            Planets come and go. Stars perish.
            Matter disperses, coalesces, forms into other patterns, other worlds.
        </p>
    </div>
    <footer class="card__foot">
        <button class="button button--light">I'm on fire!</button>
    </footer>
</article>
