<div style="padding-left: 2rem; height: 11rem; margin-left: 22rem;">
    <span
        class="tooltip-container"
        aria-labelledby="icon-title-{{ modifier_class }}"
        aria-describedby="icon-content-{{ modifier_class }}"
    >
        <svg class="icon icon--md tooltip-sibling">
            <use xlink:href="#ei-question"></use>
        </svg>
        <div class="tooltip {{ modifier_class }}" role="tooltip">
            <span class="tooltip__title" id="icon-title-{{ modifier_class }}">
                It's a fez. I wear a fez now.
            </span>
            <div class="tooltip__content" id="icon-content-{{ modifier_class }}">
                Statistically speaking, if you gave typewriters to a treeful of monkeys,
                they'd eventually produce the works of William Shakespeare.
            </div>
        </div>
    </span>
</div>

<div>
    You may be a doctor. But I'm the
    <span
        class="tooltip-container"
        aria-labelledby="paragraph-title-{{ modifier_class }}"
        aria-describedby="paragraph-content-{{ modifier_class }}"
    >
        <span class="tooltip-sibling" style="text-decoration: underline;">Doctor.</span>
        <div class="tooltip {{ modifier_class }}" role="tooltip">
            <span class="tooltip__title" id="paragraph-title-{{ modifier_class }}">
                It's a fez. I wear a fez now.
            </span>
            <div class="tooltip__content" id="paragraph-content-{{ modifier_class }}">
                I hate computers and refuse to be bullied by them.
                Are you capable of speaking without flapping your hands about?
            </div>
        </div>
    </span>
    selectors the logic takes place within the same parent element.
    That's what siblings means... sharing the same parent.
</div>