// Tooltips
//
// Use a tooltip to add information as needed.
//
// Hover on the icon and the underlined word in the paragraph
// of each example to see the tooltip appear.
//
// .tooltip--above  - A tooltip that appears above it's sibling.
// .tooltip--below  - A tooltip that appears below it's sibling.
// .tooltip--left   - A tooltip that appears to the left of it's sibling.
// .tooltip--right  - A tooltip that appears to the right of it's sibling.
//
// markup: tooltips.html
//
// Styleguide Components.tooltips

.tooltip {
    $space: $baseline-increment * 2;

    @include visually-hidden;

    display: block;
    top: -4.5em;
    left: 4em;
    padding: $space;
    background: $secondary-color;
    box-sizing: border-box;
    color: $background-color;
    font-size: $body-font-size;
    line-height: $baseline-unit;
    border-radius: $border-radius;
    z-index: 10;
    
    &-container { position: relative; }

    &-sibling {
        cursor: pointer;
        
        &:hover + .tooltip {
            @include reveal;

            height: initial;
            width: 11 * $baseline-unit;
            margin: 0;
        }
    }

    &__title {
        display: block;
        font-size: map-get($headers, h5);
        font-weight: $bold;
        margin-bottom: $baseline-increment;
    }

    &::after {
        position: absolute;
        content: '';
        border: $space solid transparent;
    }

    &--above {
        top: -11.5em;
        left: -7.2em;

        &::after {
            top: 100%;
            left: 50%;
            margin-left: -$space;
            border-top-color: $secondary-color;
        }
    }

    &--below {
        top: 2.5em;
        left: -7.2em;

        &::after {
            bottom: 100%;
            left: 50%;
            margin-left: -$space;
            border-bottom-color: $secondary-color;
        }
    }

    &--left {
        top: -4.5em;
        left: -18em;

        &::after {
            top: 50%;
            left: 100%;
            margin-top: -$space;
            border-left-color: $secondary-color;
        }
    }

    &--right::after {
        top: 50%;
        right: 100%;
        margin-top: -$space;
        border-right-color: $secondary-color;
    }
}
