.toggle {
  $transition: all 0.35s ease-in-out;
  $sizes: (sm: 2, md: 3, lg: 4);
  $p: &;

  @mixin get-toggle-size($size, $p: $p) {
    $width: $baseline-unit * map-get($sizes, $size);
    $half-width: $width / 2;

    #{$p}__label { line-height: $half-width; }

    #{$p}__switch {
      width: $width;
      height: $half-width;
      border-radius: $half-width;

      &::after {
        $y-offset: if($size == sm, 1px, 2px);
        $spread: if($size == sm, 0, 1px);

        height: $half-width;
        width: $half-width;
        box-shadow: 1px $y-offset 2px $spread $shadow-color;
      }
    }
  }

  display: inline-block;
  vertical-align: middle;

  &--sm { @include get-toggle-size(sm); }
  &--md { @include get-toggle-size(md); }
  &--lg { @include get-toggle-size(lg); }

  &__label {
    display: flex;
    margin: 0;
    box-sizing: border-box;

    &:hover { cursor: pointer; }
  }

  &__input {
    position: absolute;
    height: 1px;
    opacity: 0;

    &[disabled] ~ #{$p}__label {
      #{$p}__disabled-message { display: inline-block; }

      #{$p}__switch,
      #{$p}__switch-option { opacity: 0.5; }
    }

    &:checked ~ #{$p}__label {
      #{$p}__disabled-message::before { content: attr(data-checked); }
      #{$p}__switch { background: $success-color; }
      #{$p}__switch::after { transform: translate3d(100%, 0, 0); }
      #{$p}__switch-option--on { opacity: 1; }
      #{$p}__switch-option--off { opacity: 0; }
    }
  }

  &__switch {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 1;
    background: $warning-color;
    transition: $transition;

    svg > * { fill: $background-color; }
    &-option--on { opacity: 0; }
    &-option--off { opacity: 1; }

    &-option {
      position: relative;
      flex: 0 0 50%;
      color: $background-color;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      box-sizing: border-box;
      transition: $transition;
    }

    &::after {
      position: absolute;
      content: "";
      background-color: $background-color;
      border: 1px solid $background-color;
      border-radius: 50%;
      transition: $transition;
      transform: translate3d(0, 0, 0);
    }
  }

  &__disabled-message {
    display: none;

    &::before {
      content: attr(data-unchecked);
      margin-right: 1rem;
    }
  }
}