$primary-color: #527AC2;
$success-color: #16A085;
$warning-color: #E73C4E;
$info-color: #ff8d01;
$muted-color: #dddada;

$shadow-color: rgba(0, 0, 0, 0.4);
$border-color: #808080;

$text-color-default: #05182A;
$text-color-warning: #96281B;
$text-color-success: #24A159;
$text-color-info: #008B8B;

$background-color-default: #f5f5f5;