// Breadcrumbs
//
// Use breadcrumbs to help users navigate
// by showing them their location in the website.
//
// Markup: breadcrumbs.html
//
// Styleguide Components.breadcrumbs

.breadcrumbs {
    padding: 0;

    &__item {
        font-size: $body-font-size;
        display: inline-block;
        margin-bottom: 0;

        &::before { content: none; }
        &:last-child::after { content: none; }

        &::after {
            content: '/';
            font-size: $body-font-size;
            padding: 0 ($baseline-increment * 2);
        }
    }

    &__link {
        cursor: pointer;
        text-decoration: none;
        &:hover { color: $secondary-color; }
    }
}
