$spacer: .5rem;

* {
	// outline: ridge red;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.layout {
	margin: 0;
	padding: $spacer;
    height: 100vh;
    display: grid;
	grid-gap: $spacer;
	grid-template-columns: 14.5em 1fr;
	grid-template-rows:
		50px
		1fr
		50px;
	
	grid-template-areas:
		"header 	header"
		"nav		main"
		"footer 	footer";
	
    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
        
        grid-template-rows:
            50px
            max-content
            1fr
            50px;
        
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
	}

    &__header { grid-area: header; }

    &__nav {
        display: grid;
        grid-area: nav;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.7) -14px 0px 10px -13px inset;
        overflow: auto;
        padding: $baseline-unit / 2;

        @media screen and (max-width: 500px) {
            box-shadow: none;
        }

        &-menu {
            padding: 0;
            margin: 0;
        }

        &-item {
            list-style-type: none;
            font-size: $baseline-increment * 3;

            &::before { display: none; }

            @media screen and (max-width: 500px) {
                display: inline-block;
                padding: $baseline-increment;
            }
        }

        &-link {
            color: $text-color-default;
            &:hover { color: $primary-color; }
        }
    }

    &__main { grid-area: main; }
    &__footer { grid-area: footer; }
}
