.layout {
    height: 100vh;
    display: grid;
    background-color: $background-color-default;
	grid-gap: $baseline-unit / 2;
	grid-template-columns: 12.5em 1fr;
	grid-template-rows:
		50px
		1fr
		50px;
	
	grid-template-areas:
		"header 	header"
		"nav		main"
		"footer 	footer";
	
    @media screen and (max-width: 500px) {
        padding: 0 $baseline-increment;
        grid-template-columns: 1fr;
        
        grid-template-rows:
            repeat(2, max-content)
            1fr
            max-content;
        
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
	}

    &__header {
        display: grid;
        grid-area: header;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        background-color: $primary-color;
        color: $background-color-default;

        @media screen and (max-width: 500px) {
            padding: 1rem;
        }
    }

    &__main {
        grid-area: main;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0 $baseline-increment;
    }

    &__footer {
        grid-area: footer;
        display: grid;
        align-content: center;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 1.5rem;
        box-shadow: rgba($primary-color, 0.5) 0 -4px 15px -5px;

        @media screen and (max-width: 500px) {
            padding: 0;
        }

        &-left-item { display: inline-block; }

        &-right-item {
            display: inline-block;
            justify-self: self-end;
        }
    }
}

.layout__nav {
    display: grid;
    grid-area: nav;
    justify-content: center;
    box-shadow: rgba($primary-color, .5) -14px 0px 10px -13px inset;
    overflow: auto;
    padding: $baseline-unit / 2;

    @media screen and (max-width: 500px) {
        box-shadow: none;
    }

    &-menu {
        padding: 0;
        margin: 0;

        @media screen and (max-width: 500px) {
            border-bottom: $border;
        }
    }

    &-link {
        color: $text-color-default;

        &:hover { color: $primary-color; }
        &--active { color: $success-color; }
    }

    &-item {
        list-style-type: none;
        font-size: $baseline-increment * 3;
        font-weight: $bold;
    
        &::before { display: none; }

        @media screen and (max-width: 500px) {
            display: inline-block;
            margin-right: $baseline-unit / 2;
    
            &:last-of-type { margin-right: 0; }
        }
    }

    &-child-menu {
        display: none;

        @media screen and (min-width: 501px) {
            display: block;
    
            li:first-child {
                padding: ($baseline-unit / 2) 0 0;
                border-top: $border;
            }
    
            li:last-child {
                padding: 0 0 ($baseline-unit / 2);
                border-bottom: $border;
            }
        }
    }
}
